<form method="post" action="/new-property" >
  <input type="text" name="name" placeholder="Property Name" maxlength="60" required>
  <textarea name="description" placeholder="Property Description" maxlength="300" required> </textarea>
  <input type="text" name="price" placeholder="Property Price" required>
  <input type="submit" value="Submit">
</form>



