<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/stylesheets/styles.css" rel="stylesheet">
  <title>Log In</title>
</head>

<body>
  <div class="container">
  
    <h1>Log in with your details</h1>
    <h2><%= flash[:notice] %></h2>

    <div class="form-container">
      <form method="post" action="/login" >
        <div class="form-field">
          <label for="email">Email:</label><br>
          <input type="email" name="email" placeholder="Your email" maxlength="60" required>
        </div>
        <div class="form-field">
          <label for="password">Password:</label><br>
          <input type="password" name="password" maxlength="60" placeholder="Your password" required>
        </div>
        <div class="form-field center-button">
          <input class="button" type="submit" value="Log in">
        </div>
      </form>
    </div>

    <h3>Need an account? Sign up <a href="/sign-up">here!</a></h2>
 
  </div>
  
</body>
