<h1>Log in with your details</h1>

<h2><%= flash[:notice] %></h2>

  <form method="post" action="/login" >
    <label for="email">Email:</label>
    <input type="email" name="email" placeholder="Your email" maxlength="60" required><br>
    <label for="password">Password:</label>
    <input type="password" name="password" maxlength="60" placeholder="Your password" required><br>
    <input type="submit" value="Log in">
  </form>
