<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign Up</title>
</head>
<body>
  <h1>Sign up for Howdy Partners Bnb</h1>
  <form method='post' action='/sign-up'>
    <div>
      <label for="username">Name:</label>
      <input id="username" type='text' name='name' required>
    </div>
    <div>
      <label for="email">Email:</label>
        <input id="email" type='text' name='email' required/>
    </div>
    <div>
      <label for="password">Password:</label>
      <input id="password" type='text' name='password' required/>
    </div>
    <input type='submit' value='Sign Up'/>
  </form>
</body>
</html>