body {
  margin: auto;
  width: 80%;
}

.sign-up-container {
  text-align: center;
  border: 8px solid skyblue;
  border-radius: 5px;
  margin: auto;
  margin-top: 20px;
  width: 50%;
  padding-bottom: 10px;
  background-color: aliceblue;
}

.form-container {
  margin: auto;
  width: 40%;
  text-align: center;
}

.form-field {
  padding: 2px;
}

.center-button {
  text-align: center;
}

.button {
  background-color: lightblue;
  border-radius: 10px;
  box-shadow: white;
  color: black;
  padding: 5px;
  margin: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
}
