body {
  margin: auto;
  width: 80%;
}

.sign-up-container {
  text-align: center;
  border: 8px solid skyblue;
  border-radius: 5px;
  margin: auto;
  margin-top: 50px;
  max-width: 500px;
  min-width: 50px;
  padding-bottom: 10px;
  background-color: aliceblue;
}

.form-container {
  margin: auto;
  width: 40%;
  text-align: left;
}

.form-field {
  padding: 5px;
}

.center-button {
  text-align: center;
}

.button {
  background-color: lightblue;
  border-radius: 10px;
  box-shadow: white;
  color: black;
  padding: 5px;
  margin: 5px;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
}
